*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(#272727, #090909);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

p{
    color: rgb(167, 167, 167);
    font-size: 1rem;
    font-weight: normal;
    
}

header{
    display: block;
    border-bottom: none;
    background-color: #121212;
    border-bottom: none;
    padding: 0px 39px 0px;
    margin-bottom: 10px;
    width: 100%;
}

header > img{
    height: 98px;
    width: 146px;
    padding: 3px 3px 0px;
    text-align: left;
    padding: 10px 10px 10px 8px;
    display: block;
    align-items: baseline;
}

.main-title{
    font-size: 2.6rem;
    padding: 32px;
}

.main-pag {
    background-color: #121212;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    row-gap: normal;
    border-radius: 10px;
    padding: 32px 0px; 
    max-width: 734px;
    width: 100%;
    margin: 25px auto 0 auto;
}

.main-ul{
    display: flex;
    list-style: none;
    flex-direction: column;
    max-width: 324px;
    width: 100%;

}

.main-list{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    border: 1px solid gray;
    padding: 10px 31px;
    border-radius: 30px;
    margin-bottom: 10px;
}

.main-list > a{
    text-decoration: none;
    text-align: center;
    justify-content: space-between;
    font-size: 0.930em;
    font-weight: bold;
    color: #E8E8E8;
    margin-right: 20px;
}

a:hover{
    cursor: default;
}

.main-list > span{
    width: 1.5rem;
    height: 1.5rem;
}

.main-list:hover{
    border: 1px solid white;
}

.linha{
    border: 1px solid rgb(41, 41, 41); 
    width: 80%;
    margin: 20px auto;    
}


form{
    display: flex;
    justify-content:center;
    align-items: flex-start;
    flex-direction: column;
    row-gap: normal;

}

form > label{
    font-size: 0.875rem;
    font-weight: bold;
    color: #FFFFD9;
    margin-bottom: 13px;
    margin-top: 20px;
    margin-bottom: 12px;
    display: inline-block; 
    text-align: left; 
}

input{
    background-color: #121212;
    font-size: 0.960rem;
    font-weight: 500;
    inline-size: 100%;
    margin-top: 10px 10px 10px 10px;
    border: 1px solid grey;
    caret-color: white;
    border-radius: 4px;
    height: 50px;
    padding-inline: 14px;
    letter-spacing: normal;
}


input:focus{
    border: 3px solid white;
    outline: none;
}

.input-green{
    border: 2px solid #1FDF64;
    background-color: #1FDF64;
    border-radius: 25px;
    color: black;
    font-size: 15px;
    font-weight: 700;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 36px 0px 10px 0px;
    width: 315px;

}

.input-green:hover{
    transform: scale(1.05);
}

.forgot-password{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    margin-top: 15px;
    color: white;
    font-weight: 12px;

    padding: 10px 31px;
    border-radius: 30px;
    margin-bottom: 7px;
    margin-left: 50px;
    
}

.forgot-password:hover{
    color: #1FDF64;
    cursor: pointer;
}

.text-account{
  margin: 30px 0px 20px 0px; 
}

.link-login{
    color: white;
    font-size: 1rem;
}

.link-login:hover{
    color: #1FDF64;
    cursor: pointer;
}

footer{
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 0.6875rem;
    color: rgb(167, 167, 167);
    height: 90px;
    width: 100%;
    margin-top: 30px;
}

.u{
    margin: 5px;
    color: rgb(167, 167, 167);
}